body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  padding: 20px;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  font-weight: normal;
}
#songa {
  text-align: center;
  font-size: 20px;
  color: white;
}
.greeting-section {
  text-align: center;
  justify-content: center;
}
.rows {
  display: flex;
  justify-content: space-around;
}

section.ad {
  border: 1px solid white;
  border-radius: 12px;
  border-width: 2px;
}
.img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 10px;
}
.img-container {
  max-height: 360px;
  overflow: hidden;
}
.opening-hours {
  display: flex;
  justify-content: space-around;

  padding: 40px 40px;
}
#Officetimes {
  display: inline-block;
}
.short-description {
  text-align: center;
  border: 1px solid white;
  border-radius: 20px;
}
#paragraph {
font-size: 22px;
}
@media screen and (min-width: 768px) {
    body {
        background-color: black;
    }
    .container {
        display: flex;
    }
}