body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000;
  color: rgb(255, 255, 255);
  line-height: 1.6;
  padding: 20px;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: "Great Vibes", cursive;
  font-size: 2rem;
  font-weight: normal;
}
#nav {
  text-align: center;
  color: white;
}
#songa {
  text-align: center;
  font-size: 20px;
  color: white;
}

.menuCard {
    border: 1px solid lightgrey;
    width: 250px;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
}

.menuCard:hover {
    transform: translateY(-5px);
}

.section {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.menuItemName {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0;
}

.menuCard p {
    text-align: center;
    margin: 4px 0;
}

.menuImage {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}
#reservationForm {
    width: 350px;
    margin:  16px auto;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    border: solid 1px white;
}

#reservationForm label {
    display: block;
    font-weight: bold;
    text-align: left;
}

#reservationForm input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

#reservationForm input:focus {
    outline: none;
    border-color: orange;
    border-width: 3px;
    box-shadow: 0 0 5px rgba(255, 123, 0, 0.5);
}

button {
    max-width: 140px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: lightcoral;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0;
}
@media screen and (min-width: 768px) {
    body {
        background-color: black;
    }
    .container {
        display: flex;
    }
}